huggingface_hub==0.22.2
langchain
transformers
sentence_transformers
pytz
pypdf 
PyPDF2
langchain_experimental
langchain_community
chromadb
unstructured[pdf] 
unstructured
grandalf
langchainhub
langchain-mistralai
unstructured[html]
bs4
rank_bm25
langchain-cohere
google-cloud-aiplatform